adf_formula1/pipeline/pl_transform_f1_data.json
{
	"name": "pl_transform_f1_data",
	"properties": {
		"activities": [
			{
				"name": "Get folder details",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "ds_f1_raw",
						"type": "DatasetReference",
						"parameters": {
							"p_window_end_date": {
								"value": "@formatDateTime(pipeline().parameters.p_window_end_date)",
								"type": "Expression"
							}
						}
					},
					"fieldList": [
						"exists"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "JsonReadSettings"
					}
				}
			},
			{
				"name": "If folder exists",
				"type": "IfCondition",
				"dependsOn": [
					{
						"activity": "Get folder details",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"expression": {
						"value": "@activity('Get folder details').output.exists",
						"type": "Expression"
					},
					"ifTrueActivities": [
						{
							"name": "transform race results file",
							"type": "DatabricksNotebook",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1 Project/transformations/1. race_results",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "transform driver standings file",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "transform race results file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1 Project/transformations/2. driver_standings",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						},
						{
							"name": "transform constructor standings file",
							"type": "DatabricksNotebook",
							"dependsOn": [
								{
									"activity": "transform race results file",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"notebookPath": "/Formula1 Project/transformations/3. constructor_standings",
								"baseParameters": {
									"p_file_date": {
										"value": "@formatDateTime(pipeline().parameters.p_window_end_date, 'yyy-MM-dd')",
										"type": "Expression"
									}
								}
							},
							"linkedServiceName": {
								"referenceName": "ls_databricks_ws",
								"type": "LinkedServiceReference"
							}
						}
					]
				}
			}
		],
		"parameters": {
			"p_window_end_date": {
				"type": "string"
			}
		},
		"variables": {
			"v_data_source": {
				"type": "String",
				"defaultValue": "Ergast"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-01-25T07:00:21Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}